<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ report_title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
          body {
            color: #444;
            font-family: 'Lucida Sans Unicode', sans-serif;
            font-size: 13px;
          }

          .report-title {
            margin-bottom: 25px;
          }

          .plots {
            text-align: center;
          }

          .secondary-color {
            color: SteelBlue;
          }

          .plot {
            margin: 10px;
            padding: 10px;
            max-width: 90%;
            min-width: 800px;
            border: 1px solid silver;
          }
        </style>
    </head>
    <body id="top">

      <h1 class="report-title">{{ report_title }}</h1>

      <p>
        <img class="plot" src="{{ boxplot_path }}">
      </p>

      <p>
        <img class="plot" src="{{ boxplot_no_outliers_path }}">
      </p>

      <p>
        <img class="plot" src="{{ violinplot }}">
      </p>

      <h2>Intervals under the min depth threshold</h2>
      <p>
        <img class="plot" src="{{ heatmap_path }}">
      </p>

      <h2>Intervals with ZERO reads</h2>
      <p>
        <img class="plot" src="{{ heatmap_only_zero_path }}">
      </p>

      <ul class="navbar">
        {% for chrom_plot_path in chrom_plot_paths %}
          <li>
            <a class="secondary-color" href="#{{ loop.index }}">
              {{ chrom_plot_path.split('/')[-1] }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <div class="plots">
        {% for chrom_plot_path in chrom_plot_paths %}
          <p id="{{ loop.index }}">
            <img class="plot" src="{{ chrom_plot_path }}">
            <br>
            <a class="secondary-color" href="#top">Back to top</a>
          </p>
        {% endfor %}
      </div><!-- .plots -->

    </body>
  </html>
